/*-backup
/*-old
/*-work
/*.tar.gz
/*.tar.xz
/aarch64-linux-gnu
/aarch64-linux-gnu-ref/
/aarch64-linux-musl-ref/
/aarch64-linux-musl/
/arm-linux-gnueabihf
/arm-linux-musleabihf/
/i386-linux-gnu
/mips-linux-gnu
/mips64el-linux-gnuabi64
/powerpc64le-linux-gnu
/tmp
/x86_64-linux-gnu
/x86_64-linux-gnu-ref/
/x86_64-linux-musl
/x86_64-linux-musl-ref/
